@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'Playfair Display', serif;
	/* overflow-x: hidden; */
}

/* Général  */

body {
	background-color: rgb(255, 255, 255);
	height: auto;
	width: 100%;
	overflow-x: hidden !important;
	/* display: inline-block; */
}

/* je veux que le site se finisse sur la galerie avec le mouvement de la souris, le footer est donc caché */
.footer{
	text-align: center;
	display: none;
}

h1 {
	/* text-align: right;
	padding: 0;
	margin: 0;
	position: relative;
	right: 10vw;
	top: 45vh;
	font-size: 8vw;
	color: rgb(233, 233, 233);
	letter-spacing: -3px; */
	/* padding:0;
	margin:0;
	color: white;
	font-size:3em;
	line-height: 1em;
	font-style: italic;
	 */
}

h2 {
	/* text-align: right;
	padding: 0;
	margin: 0;
	font-size: 3vw;
	right: 6vw;
	top: 85vh;
	color: rgb(233, 233, 233); */
	/* text-transform: uppercase;
	font-size: 0.4em;
	padding: 5px 0;
	margin:0; */
}

p {
	font-size: 1.2rem;
	/* color: rgb(41, 41, 41); */
}



/* Solid border */
hr.solid {
	border: 0;
	border-top: 3px solid rgb(224, 224, 224);
	width: 60vw;
	margin: auto;
	margin-top: 3%;
	/* padding: 2%; */
	/* padding-bottom: 4%; */
}








/* NAVIGATION ORDINATEUR*/

.navigation {
	position: fixed;
	width: 95vw;
	height: 10vh;
	z-index: 100;
	top: 2%;
	/* padding-top: 1%; */
	right: 3%;
	/* padding-right: 3%; */
	left: 3%;
	/* padding-left: 3%; */
	/* padding-bottom: 1%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: rgb(255,255,255); */
}

.titre {
	font-size: 2rem;
	font-weight: 600;
	width: 40%;
	font-family: 'Playfair Display', serif;

}


a {
	text-decoration: none;
	color: rgb(193, 193, 193);
	font-family: 'Playfair Display', serif;
}

.autres_titres {
	display: flex;
	width: 60%;
	justify-content: flex-end;
	color: rgb(193, 193, 193);
}

.nav-item {
	padding: 3%;
	font-size: 1.2rem;
}


.nav-item:hover {
	color: rgb(83, 83, 83);
	transition: 1s;
}


/* navbar mobile */

.hamburger {
	display: none;

}

.bar {
	background-color: rgb(193, 193, 193);

}



/* NAVBAR MOBILE */

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/* background-color: #101010; */
}


/* NAVBAR MOBILE */
/* 
.navigation_mobile{
	display: none;
}

.navigation{
	display: block;
}


 */








/* DIVISION INTRODUCTION */

.div_intro {
	width: 100vw;
	height: 100vh;
	background-color: antiquewhite;
}

.video_intro {
	width: 100%;
	height: 100%;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
	object-fit: fill;
}

.h1_introduction {
	text-align: right;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 10vw;
	top: 60vh;
	font-size: 8rem;
	color: rgb(233, 233, 233);
	letter-spacing: -3px;
	/* padding:0;
	margin:0;
	color: white;
	font-size:3em;
	line-height: 1em;
	font-style: italic;
	 */
}

.h2_introduction {
	text-align: right;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 6vw;
	top: 80vh;
	font-size: 3rem;
	color: rgb(233, 233, 233);
	/* text-transform: uppercase;
	font-size: 0.4em;
	padding: 5px 0;
	margin:0; */
}

.roadtrip_description {
	color: rgb(153, 153, 153);
	position: absolute;
	left: 3vw;
	top: 90vh;
	text-align: center;
}

/* DIVISION equipe */

/* .equipe_div{
	width: 100vw;
	height: 100vh;
	background-color: white;
} */

.equipe_div {
	width: 100vw;
	height: 100vh;

	/* display: flex;
	align-items: center;
	justify-content: flex-start; */
	padding: 5vw;
	box-sizing: border-box;
}

.equipe_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	margin-top: 2%;
	font-size: 3rem;
	/* position: absolute; */
	/* left: 6vw;
	top: 15vh; */
	color: rgb(124, 124, 124);
}

.section_cartes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 80%;
	margin-top: 1%;
	padding: 0;
}

.section_carte {
	background-color: lightpink;
	border-radius: 30px;
	height: 80%;
	width: 20%;
	margin-right: 2%;
	display: flex;
	/* align-items: center; */
	flex-shrink: 0;
	/* justify-content: center; */
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
	color: rgb(222, 222, 222);
}

.nom_personne {
	font-size: 2rem;
	padding-right: 4%;
	/* color: rgb(222, 222, 222); */
}

.description_personne {
	text-align: right;
	/* width: 40%; */
	padding-right: 4%;
	padding-bottom: 5%;
	/* color: rgb(222, 222, 222); */
	mix-blend-mode: hard-light;
}

.description_equipe {
	display: block;
	width: 100vw;
	color: rgb(41, 41, 41);
}

/*personnes de l'équipe*/

.section_carte {
	background-size: cover;
}

.carte1 {
	background-image: url("../medias/equipe/Laura.jpg");
}

.carte2 {
	background-image: url("../medias/equipe/Theoh.jpg");
}

.carte3 {
	background-image: url("../medias/equipe/Flav.jpg");
}

.carte4 {
	background-image: url("../medias/equipe/Lisa.jpg");
}

.carte5 {
	background-image: url("../medias/equipe/Sacha.jpg");
}

.carte6 {
	background-image: url("../medias/equipe/Val.jpg");
}

.carte7 {
	background-image: url("../medias/equipe/Elise.jpg");
}

.carte8 {
	background-image: url("../medias/equipe/Louise.jpg");
}

.carte9 {
	background-image: url("../medias/equipe/Theoa.jpg");
}

.carte10 {
	background-image: url("../medias/equipe/Clara.jpg");
}

.carte11 {
	background-image: url("../medias/be5dbcd6041dcab631a5120dc139e680.jpg");
}

.carte12 {
	background-image: url("../medias/be5dbcd6041dcab631a5120dc139e680.jpg");
}

/* DIVISION OBJECTIFS */

.objectifs_div {
	width: 100vw;
	height: 100vh;
	background: rgb(243, 243, 243);
	

	/* position: relative; */
}

.objectifs_titre {
	text-align: left;
	padding: 5vw;
	margin: 0;

	padding-top: 6%;
	padding-right: 4%;
	font-size: 3rem;
	/* position: absolute; */
	/* right: 60vw;
	top: 15vh; */
	color: rgb(124, 124, 124);
}




.svg_map_container{
	height: 60vh;
	width: auto;
	margin: auto;

	/* background-color:aqua; */
position: relative;

}


svg{
	/* position: absolute;

	left:0; top:0;  */
	width:100%; height:100%;
}

.objectifs_ottawa{
	position: absolute;
	width: 80%;
	top: 70%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.images_dans_svg{
	position: absolute;
	width: 10%;
	top: 20%;
	left: 0%;
}








/* parametres communs aux 3 villes */
/* 
.objectifs_titre_ville {
	padding: 0;
	margin: 0;
	font-size: 2.5vw;
	padding-top: 3%;
}

.ville_soustitre {
	text-align: justify;
	padding: 0;
	margin: 0;
	color: rgb(124, 124, 124);
	font-size: 1.2vw;
}

.ville_images {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
}

.ville_images>img {
	width: 15%;
	height: auto;
	padding: 1.5%;
	padding-bottom: 0;
}

.ville_airbnb_images {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
}

.ville_airbnb_images>img {
	width: 15%;
	height: auto;
	padding: 1.5%;
	padding-bottom: 0;
}
 */

/* parametres specifiques a chaque ville */
/* 
.objectifs_titre_ottawa {
	text-align: left;
	padding-left: 10%;
}

.ottawa_soustitre {
	padding-left: 12%;
}

.ottawa_description {
	width: 30%;
	padding: 2%;
	font-size: 1.3vw;
}

.ottawa_airbnb_description {
	text-align: center;
	color: rgb(124, 124, 124);
	font-size: 1vw;
}

.ottawa_souhaits {
	padding-top: 4%;
	text-align: left;
	padding-left: 10vw;
	font-size: 1.3vw;
}

.ottawa_souhaits_liste {
	padding: 1%;
	padding-left: 15vw;
	font-size: 1.2vw;
	 list-style: url('/media/examples/rocket.svg'); 
	text-align: left;
}

.objectifs_titre_montreal {
	text-align: left;
	padding-left: 10%;
}

.montreal_soustitre {
	padding-left: 12%;
}

.montreal_description {
	width: 30%;
	padding: 2%;
	font-size: 1.3vw;
}

.montreal_airbnb_description {
	text-align: center;
	color: rgb(124, 124, 124);
	font-size: 1vw;
}

.montreal_souhaits {
	padding-top: 4%;
	text-align: left;
	padding-left: 10vw;
	font-size: 1.3vw;
}

.montreal_souhaits_liste {
	padding: 1%;
	padding-left: 15vw;
	font-size: 1.2vw;
	list-style: url('/media/examples/rocket.svg'); 
	text-align: left;
} 



















/* DIVISION activites */

.activites_div {
	width: 100vw;
	height: auto;
	padding-bottom: 2%;
	background-color: rgb(255, 255, 255);

	/* box-sizing: border-box; */
}

.activites_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 2%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
	/* margin-bottom: 2%; */
	padding: 5vw;
}


.row {
	width: 90vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	/* padding: 0 4px; */
	justify-content: space-evenly;

}

/* Create four equal columns that sits next to each other */
.column {
	flex: 20%;
	max-width: 24%;

	/* padding: 0 4px; */
}

.activite_carte {
	width: 100%;
	/* padding: 2%;
	padding-bottom: 8%;
	position: relative; */
	/* text-align: center; */
	/* 
	background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0; */
	position: relative;
	margin-bottom: 4%;
}

.column img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.activites_textes {
	width: 80%;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;

}

.activite_description {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;

}

.activite_sous_description {
	font-weight: 100;
	font-size: 0.8rem;
	font-family: 'Raleway', sans-serif;

}



/* .activite1 {
	background-image: url("../medias/activites/activites_ottawa.jpg");
	padding-top: 125%;

}

.activite2 {
	background-image: url("../medias/activites/activites_montreal.jpg");
	padding-top: 71%;
}
.activite3 {
	background-image: url("../medias/activites/activites_queb_jour.jpg");

	padding-top: 125%;
} */








/* DIVISION AVIS */

.avis_div {
	width: 100vw;
	height: auto;
	background: rgb(243, 243, 243);
	padding: 5%;

}


.avis_row {
	width: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	/* padding: 0 4px; */
	justify-content: space-evenly;
	padding-right: 5%;
}

.avis_column {
	flex: 30%;
	max-width: 90%;
	padding-right: 2%;
}


.avis_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 2%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
	/* margin-bottom: 2%; */
	/* padding: 5vw; */
}

.description_avis {
	padding: 2%;
	display: block;
	width: 100%;
	color: rgb(41, 41, 41);
	/* padding-bottom: 8%; */
	/* padding-top: 4%; */

}

.avis_nom_ville {
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	color: rgb(104, 104, 104);
	padding-top: 4%;
	/* padding-bottom: .4%; */

	/* margin-bottom: 2%; */
}

.avis_ville {
	/* text-align: justify; */

	display: block;
	width: 90%;
	color: rgb(41, 41, 41);

	margin-bottom: 8%;
	/* padding-top: 4%; */

}


.avis_div_stars {
	display: flex;
	/* padding: 0 4px; */
	width: auto;
	flex-direction: row;
	justify-content: left;
	padding-bottom: 2%;

}

.avis_starf {
	font-size: 1.5rem;
	opacity: 0;
	padding: 4%;
	padding-left: 0;
}













/* DIVISION galerie */

.galerie_div {
	width: 100vw;
	height: 100vh;
	/* padding: 2%; */
	overflow: hidden;
	/* display: flex; */
	/* justify-content: center; */
}

.galerie_titre {
	/* display: block; */
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 2%;
	margin-top: 1%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
	/* margin-bottom: 2%; */
	padding: 4vw;
	padding-bottom: 0;
}





::-webkit-scrollbar {
	display: none;
}


.galerie_conteneur {
	margin: auto;
	width: 90vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	/* border:1px solid grey; */
	margin-top: 2%;
	position: relative;
	/* overflow: hidden; */
}

.galerie_image {
	position: absolute;
	width: 12%;
	height: auto;
}

.galerie_video {
	position: absolute;
	width: 12%;
	height: auto;
	top: -15%;
	left: 15%;
}

.galerie_image1 {
	top: -10%;
	left: 0%;
}

.galerie_image2 {
	top: 40%;
	left: 30%;
}

.galerie_image3 {
	top: 10%;
	left: 60%;
}

.galerie_image4 {
	top: 40%;
	left: 80%;
}

.galerie_image5 {
	top: 12%;
	left: 40%;
}

.galerie_image6 {
	top: 0%;
	left: 25%;
}

.galerie_image7 {
	top: -5%;
	left: 75%;
}

.galerie_image8 {
	top: 35%;
	left: 50%;
}

.galerie_image9 {
	top: 15%;
	left: 13%;
}

.galerie_image10 {
	top: 9%;
	left: 90%;
}

.galerie_image11 {
	top: 25%;
	left: 2%;
}




.galerie_image12 {
	top: -20%;
	left: 50%;
	width: 10%;

}

.galerie_image13 {
	top: -20%;
	left: 40%;
	width: 8%;

}

.galerie_image14 {
	top: 0;
	left: -12%;
	width: 12%;

}

.galerie_image15 {
	top: 25%;
	left: -12%;
	width: 10%;

}

.galerie_image16 {
	top: -15%;
	left: 95%;
	width: 15%;

}

.galerie_image17 {
	top: -15%;
	left: 64%;
	width: 8%;

}

.galerie_image18 {
	top: 55%;
	left: 65%;
	width: 12%;

}

.galerie_image19 {
	top: 50%;
	left: -8%;
	width: 9%;

}

.galerie_image20 {
	top: 55%;
	left: 16%;
	width: 12%;

}

.galerie_image21 {
	top: 50%;
	left: 95%;
	width: 12%;

}

.galerie_image22 {
	top: 55%;
	left: 16%;
	width: 12%;

}


/* 
.galerie_photos,
.galerie2_photos,
.galerie3_photos {
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 0;
	padding: 0;
} */

/* .activite_carte{
	background-size: cover;
	height: 60vh;
	width: 40vw;
} */

/* .galerie_carte {
	position: relative;
	margin: 0;
	padding: 0;
}

.galerie_carte img {
	height: 40vh;
	width: auto;
}

.galerie_description {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	font-size: 1.4rem;
	color: rgb(241, 241, 241);
	font-family: "Raleway", sans-serif;
} */







/* 1er breakpoint */
@media only screen and (max-width: 768px) {
	.navigation {
		/* top: 1%;
		left: 2%; */
		width: 100vw;

	}

	.titre {
		width: 70vw;
		

	}

	.hamburger {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 5vh;
		right: 5vw;
	}


	.autres_titres {
		display: none;
		background-color: rgba(235, 235, 235, 0.422);
		width: 100vw;
		height: 100vh;
		text-align: right;
	}

	.navigation_ouvert{
		width: 100vw;
		height: 100vh;
		background-color: darkslateblue;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		position: fixed;
		
	}
	
	.autres_titres_mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		/* z-index: 100; */
		color: black;
		
		/* top: 5vh;
		right: 5vw; */
		/* transition: 0.5s; */
	}

	.hamburger_ouvert {
		position: absolute;
		top: 5%;
		right: 5%;
	}

	.h1_introduction {
		/* padding-top: 15%!important; */
		font-size: 5rem;
	}

	.h2_introduction {
		/* padding-top: 15%!important; */
		font-size: 2.5rem;
		top: 75vh;
	}




	/* titres de sections */
	h2,
	.equipe_titre,
	.objectifs_div,
	.activites_div,
	.avis_div,
	.galerie_div {
		padding-top: 6vh;
		font-size: 2rem;
	}

	p {
		font-size: 1.3rem;
	}

	.section_cartes {
		padding: 1%;
		width: 60%;
		height: 70%;
		padding-top: 5%;
		padding-bottom: 8%;

	}

	.section_carte {

		width: 100%;
		height: 100%;
	}

	


	.avis_row {

		flex-direction: column;
	}

	.avis_ville,
	.avis_starf {
		font-size: 1rem;

	}

	.avis_ville {
		display: block;
		width: 100%;
	}


	.galerie_div {
		width: 100vw;
		height: 160vh;

	}

	.galerie_conteneur {
		display: flex;
		flex-wrap: wrap;
	}

	.galerie_image, .galerie_video {
		position: initial;
		height: 20%;
		width: auto;
		padding: 2%;
	}

	



	/* .galerie_carte img {
		height: 20vh;
		width: auto;
		flex-wrap: wrap;
		position: relative;
	} */

}



/* 2ème breakpoint */

@media only screen and (max-width: 600px) {
	
	
	.section_cartes {
		
		width: 80%;
		height: 62%;
	}
	
	


/* 
	.equipe_div{
	
	}
	
	p{
		font-size: 1.3rem;
	}
	
	h2{
		padding-top: 15%!important;
	}
	
	.section_carte {
		
		width: 80%;
		height: 60%;
	}
	
	
	.galerie_carte img {
		height: 20vh;
		width: auto;
		flex-wrap: wrap;
	} */
	}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 47%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;

	}
}