@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'Playfair Display', serif;
}

/* Général  */

body {
	background-color: rgb(255, 255, 255);
	height: auto;
	width: 100%;
	overflow-x: hidden !important;
}

/* je veux que le site se finisse sur la galerie avec le mouvement de la souris, le footer est donc très très petit  */
.footer {
	text-align: right;
}
.footer p{
	font-size: .6rem;
	color:rgb(157, 157, 157);
}

p {
	font-size: 1.2rem;
}

/* Solid border */
hr.solid {
	border: 0;
	border-top: 3px solid rgb(224, 224, 224);
	width: 60vw;
	margin: auto;
	margin-top: 3%;
}

/* NAVIGATION ORDINATEUR*/

.navigation {
	position: fixed;
	width: 95vw;
	height: 10vh;
	z-index: 100;
	top: 2%;
	right: 3%;
	left: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titre {
	font-size: 2rem;
	font-weight: 600;
	width: 40%;
	font-family: 'Playfair Display', serif;
}

a {
	text-decoration: none;
	color: rgb(193, 193, 193);
	font-family: 'Playfair Display', serif;
}

.autres_titres {
	display: flex;
	width: 60%;
	justify-content: flex-end;
	color: rgb(193, 193, 193);
}

.nav-item {
	padding: 3%;
	font-size: 1.2rem;
}

.nav-item:hover {
	color: rgb(83, 83, 83);
	transition: 1s;
}

/* navbar mobile */

.hamburger {
	display: none;
}

.bar {
	background-color: rgb(193, 193, 193);
}

/* NAVBAR MOBILE */

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* PREMIERE SECTION */

.div_intro {
	width: 100vw;
	height: 100vh;
	background-color: antiquewhite;
}

.video_intro {
	width: 100%;
	height: 100%;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.h1_introduction {
	text-align: right;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 5vw;
	top: 60vh;
	font-size: 8rem;
	color: rgb(233, 233, 233);
	letter-spacing: -3px;
}

.h2_introduction {
	text-align: right;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 6vw;
	top: 80vh;
	font-size: 3rem;
	color: rgb(233, 233, 233);
}

.roadtrip_description {
	color: rgb(219, 219, 219);
	position: absolute;
	left: 3vw;
	top: 90vh;
	text-align: center;
}

/* DEUXIEME SECTION */
.equipe_div {
	width: 100vw;
	height: 100vh;
	padding: 5vw;
	box-sizing: border-box;
}

.equipe_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	margin-top: 2%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
}

.section_cartes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 80%;
	margin-top: 1%;
	padding: 0;
}

.section_carte {
	background-color: lightpink;
	border-radius: 30px;
	height: 80%;
	width: 20%;
	margin-right: 2%;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
	color: rgb(222, 222, 222);
}

.nom_personne {
	font-size: 2rem;
	padding-right: 4%;
}

.description_personne {
	text-align: right;
	padding-right: 4%;
	padding-bottom: 5%;
	mix-blend-mode: hard-light;
}

.nom_voiture {
	font-size: 2rem;
	padding-right: 4%;
	color: #838383;
}

.description_voiture {
	color:#838383;
	text-align: right;
	padding-right: 4%;
	padding-bottom: 5%;
}

.carte12, .carte11{
	border:rgb(226, 226, 226) solid 3px;
}

.description_equipe {
	display: block;
	width: 100vw;
	color: rgb(41, 41, 41);
}

/*personnes de l'équipe*/

.section_carte {
	background-size: cover;
}

.carte1 {
	background-image: url("../medias/equipe/Laura.jpg");
}

.carte2 {
	background-image: url("../medias/equipe/Theoh.jpg");
}

.carte3 {
	background-image: url("../medias/equipe/Flav.jpg");
}

.carte4 {
	background-image: url("../medias/equipe/Lisa.jpg");
}

.carte5 {
	background-image: url("../medias/equipe/Sacha.jpg");
}

.carte6 {
	background-image: url("../medias/equipe/Val.jpg");
}

.carte7 {
	background-image: url("../medias/equipe/Elise.jpg");
}

.carte8 {
	background-image: url("../medias/equipe/Louise.jpg");
}

.carte9 {
	background-image: url("../medias/equipe/Theoa.jpg");
}

.carte10 {
	background-image: url("../medias/equipe/Clara.jpg");
}

.carte11 {
	background-image: url("../medias/equipe/passat.jpg");
}

.carte12 {
	background-image: url("../medias/equipe/mazda.jpg");
}

/* TROISIEME SECTION */
.objectifs_div {
	width: 100vw;
	height: 100vh;
	background: rgb(243, 243, 243);
}

.objectifs_titre {
	text-align: left;
	padding: 5vw;
	margin: 0;
	padding-top: 6%;
	padding-right: 4%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
}

.svg_map_container {
	height: 60vh;
	width: auto;
	margin: auto;
	position: relative;
}

svg {
	width: 100%;
	height: 100%;
}

text{
	font-family: 'Playfair Display', serif;
color: #4D4D4D;
}

.images_dans_svg {
	position: absolute;
	width: 10%;
	top: 20%;
	left: 0%;
}

/* QUATRIEME SECTION */
.activites_div {
	width: 100vw;
	height: auto;
	padding-bottom: 2%;
	background-color: rgb(255, 255, 255);
}

.activites_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 2%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
	padding: 5vw;
}

.row {
	width: 90vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.column {
	flex: 20%;
	max-width: 24%;
}

.activite_carte {
	width: 100%;
	position: relative;
	margin-bottom: 4%;
}

.column img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.activites_textes {
	width: 80%;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.activite_description {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}

.activite_sous_description {
	font-weight: 100;
	font-size: 0.8rem;
	font-family: 'Raleway', sans-serif;
}

/* CINQUIEME SECTION */
.avis_div {
	width: 100vw;
	height: auto;
	background: rgb(243, 243, 243);
	padding: 5%;
}

.avis_row {
	width: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-right: 5%;
}

.avis_column {
	flex: 30%;
	max-width: 90%;
	padding-right: 2%;
}

.avis_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 2%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
}

.description_avis {
	padding: 2%;
	display: block;
	width: 100%;
	color: rgb(41, 41, 41);
}

.avis_nom_ville {
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	color: rgb(104, 104, 104);
	padding-top: 4%;
}

.avis_ville {
	display: block;
	width: 90%;
	color: rgb(41, 41, 41);
	margin-bottom: 8%;
}

.avis_div_stars {
	display: flex;
	width: auto;
	flex-direction: row;
	justify-content: left;
	padding-bottom: 2%;
}

.avis_starf {
	font-size: 1.5rem;
	opacity: 0;
	padding: 4%;
	padding-left: 0;
}

/* SIXIEME SECTION */
.galerie_div {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.galerie_titre {
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 2%;
	margin-top: 1%;
	font-size: 3rem;
	color: rgb(124, 124, 124);
	padding: 4vw;
	padding-bottom: 0;
}

::-webkit-scrollbar {
	display: none;
}

.galerie_conteneur {
	margin: auto;
	width: 90vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	margin-top: 2%;
	position: relative;
}

.galerie_image {
	position: absolute;
	width: 12%;
	height: auto;
}

.galerie_video {
	position: absolute;
	width: 12%;
	height: auto;
	top: -15%;
	left: 15%;
}

.galerie_image1 {
	top: -10%;
	left: 0%;
}

.galerie_image2 {
	top: 40%;
	left: 30%;
}

.galerie_image3 {
	top: 10%;
	left: 60%;
}

.galerie_image4 {
	top: 40%;
	left: 80%;
}

.galerie_image5 {
	top: 12%;
	left: 40%;
}

.galerie_image6 {
	width: 18%;
	top: -8%;
	left: 18%;
}

.galerie_image7 {
	top: -5%;
	left: 75%;
}

.galerie_image8 {
	top: 35%;
	left: 50%;
}

.galerie_image9 {
	top: 15%;
	left: 13%;
}

.galerie_image10 {
	top: 9%;
	left: 90%;
}

.galerie_image11 {
	top: 25%;
	left: 2%;
}

.galerie_image12 {
	top: -20%;
	left: 50%;
	width: 10%;
}

.galerie_image13 {
	top: -20%;
	left: 40%;
	width: 8%;
}

.galerie_image14 {
	top: 0;
	left: -12%;
	width: 12%;
}

.galerie_image15 {
	top: 25%;
	left: -12%;
	width: 10%;
}

.galerie_image16 {
	top: -15%;
	left: 95%;
	width: 15%;
}

.galerie_image17 {
	top: -15%;
	left: 64%;
	width: 8%;
}

.galerie_image18 {
	top: 55%;
	left: 65%;
	width: 12%;
}

.galerie_image19 {
	top: 50%;
	left: -8%;
	width: 9%;
}

.galerie_image20 {
	top: 55%;
	left: 16%;
	width: 12%;
}

.galerie_image21 {
	top: 50%;
	left: 95%;
	width: 12%;
}

.galerie_image22 {
	top: 55%;
	left: 16%;
	width: 12%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {

	.section_cartes {
		padding: 1%;
		width: 30%;
		height: 70%;
		padding-top: 5%;
		padding-bottom: 4%;
	}

	.section_carte {
		width: 100%;
		height: 100%;
	}

	.activites_textes{
		top: 80%;
	}

	.activite_description{
		font-size: 0.8rem;
	}

	.activite_sous_description{
		font-size: 0.7rem;
	}


	.galerie_titre {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
}

@media only screen and (max-width: 768px) {
	.navigation {
		width: 100vw;
	}

	.titre {
		width: 70vw;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 14%;
		right: 8%;
	}

	.autres_titres {
		display: none;
		background-color: rgba(235, 235, 235, 0.422);
		width: 100vw;
		height: 100vh;
		text-align: right;
	}

	.navigation_ouvert {
		width: 100vw;
		height: 100vh;
		background-color: #535353;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		position: fixed;
		transition: .3s;
	}

	.autres_titres_mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: black;
	}

	.hamburger_ouvert {
		position: absolute;
		top: 5%;
		right: 5%;
	}

	.bar_croix_rotate {
		transform: rotate(45deg);
		animation-duration: 4s;
	}

	.bar_croix__rotate {
		transform: rotate(-45deg);
		position: absolute;
		top: 4%;
		animation-duration: 4s;
	}

	.h1_introduction {
		font-size: 5rem;
	}

	.h2_introduction {
		font-size: 2.5rem;
		top: 75vh;
	}

	/* titres de sections */
	h2,
	.equipe_titre,
	.objectifs_div,
	.activites_div,
	.avis_div,
	.galerie_div {
		padding-top: 6vh;
		font-size: 2rem;
	}

	p {
		font-size: 1.3rem;
	}

	.section_cartes {
		padding: 1%;
		width: 60%;
		height: 70%;
		padding-top: 5%;
		padding-bottom: 8%;
	}

	.section_carte {
		width: 100%;
		height: 100%;
	}

	.activites_textes{
		top: 90%;
	}

	.activite_description{
		font-size: 1rem;
	}

	.activite_sous_description{
		font-size: 0.8rem;
	}

	.column {
		flex: 50%;
		max-width: 47%;
	}

	.avis_row {
		flex-direction: column;
	}

	.avis_ville,
	.avis_starf {
		font-size: 1rem;
	}

	.avis_ville {
		display: block;
		width: 100%;
	}


	.galerie_div {
		width: 100vw;
		height: 160vh;
	}

	.galerie_conteneur {
		display: flex;
		flex-wrap: wrap;
	}

	.galerie_image,
	.galerie_video {
		position: initial;
		height: 20%;
		width: auto;
		padding: 2%;
	}
}

@media only screen and (max-width: 600px) {
	.section_cartes {
		width: 80%;
		height: 62%;
	}

	.roadtrip_description {
		font-size: 1rem;
	}

	.column {
		flex: 100%;
		max-width: 100%;
	}

	.description_equipe, .description_avis{
		width: 90%;
	}

	.galerie_div{
		height: 210vh;
	}
}